    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Storage - <a asp-area="" asp-controller="Class" asp-action="ShowAll">Back to list</a>
        </div>
    </footer>