@model Storage.Models.Class
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="alert alert-danger">
        Are you sure you want to delete this?
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Caagory</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelItem => Model.ClassID)</td>
                <td>@Html.DisplayFor(modelItem => Model.ClassName)</td>
            </tr>
        </tbody>
    </table>
    
    <form asp-action="Delete" asp-route-id="@Model.ClassID">
        <button type="submit" class="btn btn-warning">Delete</button>
        <input type="hidden" asp-for="ClassID" />
        <button asp-action="ShowAll" type="submit" class="btn btn-info">Back to List</button>
    </form>
</body>
</html>
